* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  text-align: center;
}

body,
input,
button {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.5rem;
}

h1 {
  margin: 5rem;
  font-weight: normal;
  font-size: 4rem;
}
form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

img {
  width: 100%;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  margin: 1rem;
}